<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="row">  
 <div class="col-sm-3">  </div>
<div class="col-sm-6">
    <!-- FORM ============ -->

    <form name="userForm" >

        <!-- NAME -->
     
      
        <!-- USERNAME -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
            <label>Username</label>
            <input type="text" name="username" class="form-control" ng-model="user.username" ng-minlength="3" ng-maxlength="8" required>
            <p ng-show="userForm.username.$error.minlength" class="help-block">Incorrect Username</p>
            <p ng-show="userForm.username.$error.maxlength" class="help-block">Incorrect Username</p>
        </div>
        
        <!-- EMAIL -->
       <div class="form-group" ng-class="{ 'has-error' : userForm.product.$invalid && !userForm.product.$pristine }">
            <label>productName</label>
            <input type="text" name="product" class="form-control" ng-model="user.productName" ng-minlength="3" ng-maxlength="8" required>
            <p ng-show="userForm.product.$error.minlength"  class="help-block">Enter a valid productId</p>
             <p ng-show="userForm.product.$error.maxlength" class="help-block">Enter a valid productId</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : userForm.file.$invalid && !userForm.file.$pristine }">
        <label>Add Product Image</label>
              <input type="file" ng-file-model="files" multiple />
  <!--   <input type="submit" value="{{ !form.$valid && 'invalid' || 'valid' }}"> -->
           
        </div>
        
      
        
        <button type="submit" class="btn btn-primary" ng-click="upload()" ng-disabled="userForm.$invalid">Submit</button>
        
    </form>
  </div>
</body>
</html>