<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<title>BuyNow</title>
</head>
<body>
<div class="col-sm-5">IMAGE</div>
<div class="col-sm-7">
<h3>Product Details</h3>
<p>Price {{}}</p>
<a href="#/Order">
<button class="button btn-sm btn-primary">Buy Now</button>
</a>
<p>Key Features{{}}</p>




</div>
</body>
</html>