<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-responsive">
    <tr>
    <td>Order Total</td>
    <td>{{ Price }}</td>
    </tr>
     <tr>
    <td>Payment Method</td>
    <td>COD [Cash On delivery]</td>
    </tr>
    <tr>
    <td> Address:</td>
    <td><div class="form-group">
  
  <textarea class="form-control" rows="5" id="comment"></textarea>
</div></td>
    
    
    </tr>
    <tr>
    <td>Confirm order</td>
    
   <td> 
   <a href="#/Success"><button class="button btn-primary">Place Order</button></a></td>
    </tr>
    
    
    </table>
  </div>
</div>
</body>
</html>