<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">


</head>
<body>


	<div class="row">
		<ul class="list-inline">
			<li ng-repeat="i in product.images"><img
				class="img-responsive img-rounded" "
				width="304" height="236"
				ng-src="{{i.image}}">
				<div class="caption">
					<h4>Shoe</h4>
					<a href="#/BuyNow" class="btn btn-default btn-xs" role="button">Buy
						Now</a>
					</p>
				</div></li>

		</ul>

	</div>
</body>

</html>